.header-logo {
	margin-right: auto;
}

.header-list {
	display: flex;
}

.header-list-item:not(:last-child) {
	margin-right: 50px;
}

.header-botton {
	margin-left: 84px;
	padding-left: 35px;
	padding-right: 35px;
}

.header-link {
	font-size: 15px;
	line-height: 1;
	color: #1c1c1c;
}

.header-link-active {
	color: #3172b9;
}

.first-section-container {
	padding-top: 110px;
	padding-bottom: 130px;
	outline: 1px solid blue;
}

.container {
	padding-left: 50px;
}
